<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
  
    <!--<add key="asconn" value="Data Source=hazel.arvixe.com;Initial Catalog=sciga;User Id=scigauser;Password=Sci@123" />
    <add key="aconn" value="Data Source=hazel.arvixe.com;Initial Catalog=sciga;User Id=scigauser;Password=Sci@123" />-->
    <!--<add key="asconn" value="Data Source=Urbansoft-PC\SqlExpress;Initial Catalog=sciga;Integrated Security=True" />
    <add key="aconn" value="Data Source=Urbansoft-PC\SqlExpress;Initial Catalog=sciga;Integrated Security=True" />-->

    <add key="asconn" value="Data Source=DESKTOP-MD708DL\SQLEXPRESS;Initial Catalog=IGA_FORUM_DB;Integrated Security=True" />
    <add key="aconn" value="Data Source=DESKTOP-MD708DL\SQLEXPRESS;Initial Catalog=IGA_FORUM_DB;Integrated Security=True" />
    
    <add key="sid" value="SS3" />
	
    <add key="eser" value="mail.urbansoft.in" />
    <add key="eid" value="iga-smtp@urbansoft.in" />
    <add key="epwd" value="U0iW)Aj4{J75" />
    <add key="eport" value="587" />	
    <add key="email" value="nrveera@gmail.com" />
  
    <add key="sid" value="SS3" />
    <add key="about" value="ST1" />
    <add key="topics" value="ST2" />
    <add key="agenda" value="ST3" />
    <add key="speakers" value="ST4" />
    <add key="speakers2018" value="SC6" />
    <add key="news" value="ST5" />
    <add key="photo" value="ST6" />
    <add key="video" value="ST7" />
    <add key="contact" value="ST8" />
    <add key="home" value="ST9" />
    <add key="homeforum" value="ST10" />
    <add key="homefeed" value="ST11" />
    <add key="homehelp" value="ST12" />
    <add key="smenu" value="SC1" />
    <add key="smenu1" value="SC2" />
    <add key="smenu2" value="SC3" />
    <add key="smenu3" value="SC4" />
    <add key="smenu4" value="SC5" />
    <add key="furl" value="Files/" />
    <add key="sponsors" value="ST13" />
    <add key="forums" value="ST14" />
	
    <add key="siteurl" value="http://igaevent.urbansoft.co.uk/" />
    <add key="uname" value="EGFegfUSER" />
    <add key="upwd" value="EGFegfUSERPassword" />
    <add key="scode" value="EGF" />
    <add key="committee" value="ST15" />
    <add key="committeemenu" value="SC30" />
    <add key="bh.bahrain.www.MailWSImpl" value="http://www.bahrain.bh/EGovMailService/services/MailWSImpl" />	
  </appSettings>
  	 <system.net>
    <mailSettings>
      <smtp>
        <!-- deliveryMethod="Network" -->
        <network defaultCredentials="false" port="587" host="mail.urbansoft.in" userName="iga-smtp@urbansoft.in" password="U0iW)Aj4{J75" />
        <!--<network defaultCredentials="false" host="smtp.gmail.com" port="587" userName="noman.khan330@gmail.com" password="" />-->
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <authorization>
      <allow users="*" />
      <deny users="?" />
    </authorization>
    <customErrors defaultRedirect="~/Exception.html" mode="Off">
      <error statusCode="404" redirect="~/Exception.html" />
      <error statusCode="403" redirect="~/Exception.html" />
      <error statusCode="500" redirect="~/Exception.html" />
    </customErrors>
    <compilation targetFramework="4.5.2" debug="true" />
    <httpRuntime targetFramework="4.5.2" />
    <!--<pages validateRequest="false" enableEventValidation="false" viewStateEncryptionMode="Never" enableViewStateMac="false"></pages>-->
    <pages enableViewStateMac="false" enableEventValidation="false" validateRequest="false" viewStateEncryptionMode="Never"> </pages>
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
                <clear />
                <add name="X-Frame-Options" value="DENY" />
                <add name="X-Powered-By" value="ASP.NET" />
      </customHeaders>
    </httpProtocol>
        <directoryBrowse enabled="true" />
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
                <add value="default.aspx" />
            </files>
        </defaultDocument>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
<!--ProjectGuid: df78b5a5-7c56-4921-bb2b-8195133b847d-->